<% show   = (prev_page || next_page) ? "" : "hide" %>
<% append = base.match(/\?/) ? "&" : "?" %>

<div class="row pagination <%= show %>">
  <div class="six columns prev">
    <% if (prev_page){ %>
      <a href=<%= base %><%= append %>p=<%= prev_page %>>Previous <%= item %></a>
    <% } else { %>
      &nbsp;
    <% }; %>
  </div>


  <div class="six columns next">
    <% if (next_page) { %>
      <a href=<%= base %><%= append %>p=<%= next_page %>>Next <%= item %></a>
    <% } else { %>
      &nbsp;
    <% }; %>
  </div>
</div><!-- pagination -->
