<%- include('partials/_head'); %>
<body class="preload">
  <div class="container">
    <%- include('partials/_header'); %>


    <div id="main" class="row">
      <div class="row search">
        <div class="row compare">
          <div class="five columns">
            <input autofocus class="u-full-width" type="text" id="userA" name="userA" placeholder="User 1"></input>
            <div class="row suggestions"></div>
          </div>
          <div class="two columns vs">
            vs
          </div>
          <div class="five columns">
            <input class="u-full-width" type="text" id="userB" name="userB" placeholder="User 2"></input>
            <div class="row suggestions"></div>
          </div>
        </div><!-- compare -->
        <br>
        <div class="row">
          <a id="searchButton" href="#" class="search-button">Click to Shake and Bake</a>
        </div>
      </div><!-- search -->


      <div class="row recent">
        <h3>Recent Activity</h3>
        <% workouts.data.forEach(function(workout){ %>
          <div class="row" data-id="<%= workout.id %>" data-type="workout">
            <a href="/users/<%= workout.user.username %>"><%= workout.user.username %></a> took <mark class="em"><%= workout.ride.title %></mark> on <mark class="i"><%= helpers.formatDate(workout.taken_at, true) %></mark>
          </div>
        <% }); %>
      </div><!-- recent -->
    </div><!-- main -->
  </div><!-- container -->
</body>

<%- include('partials/_end'); %>
