<%- include('partials/_head'); %>
<body>
  <div class="container">
    <%- include('partials/_header'); %>


    <div id="main" class="row">
      <div class="row search">
        <form method="POST" action="/shakeandbake/">
          <div class="row">
            <div class="five columns user">
              <label for="username"></label>
              <input class="u-full-width" type="text" id="searchUsernameA" name="usernameA" placeholder="USERNAME"></input>
            </div>

            <div class="two columns vs">
            VS
            </div>

            <div class="five columns user">
              <label for="username"></label>
              <input type="text" id="searchUsernameB" name="usernameB" placeholder="USERNAME"></input>
            </div>
          </div>

          <br>
          <div class="row">
            <input class="shake" type="submit" value="ðŸ— SHAKE AND BAKE ðŸ—"></input>
          </div>
        </form>
      </div>



      <div class="row recent">
        <h1>Recent Activity</h1>
        <% workouts.data.forEach(function(workout){ %>
          <div class="row">
            <div class="three columns">&nbsp;</div>
            <div class="six columns">
              <div class="one columns user_profile"><img class="u-full-width" src="<%= workout.user.image_url %>"></img></div>
              <span> <mark class="em"><a href="/users/<%= workout.user.username %>"><%= workout.user.username %></a></mark> / <mark class="i"><%= workout.ride.title %></mark> / <%= workout.avg_output %> watts</span>
            </div>
            <div class="three columns">&nbsp;</div>
          </div>
        <% }); %>
      </div>
    </div><!-- main -->
  </div><!-- container -->
</body>

<%- include('partials/_end'); %>
