<%- include('partials/_head'); %>

<%- userAID = userA.id %>
<%- userBID = userB.id %>


<body class="preload">
  <div class="container">
    <%- include('partials/_header'); %>


    <div id="main" class="row">
      <div class="row header">
        <h1>Shake and Bake</h1>
      </div>


      <div class="full">
        <%- include('partials/shakeandbake/_full'); %>
      </div><!-- full -->

      <div class="mobile">
        <%- include('partials/shakeandbake/_mobile'); %>
      </div><!-- mobile -->
    </div><!-- main -->
  </div><!-- container -->
</body>

<%- include('partials/_end'); %>
