<%- include('partials/_head'); %>
<body>
  <div class="container">
    <%- include('partials/_header'); %>


    <div id="main" class="row">
      <div class="info row">
        <div class="one column"><img class="u-full-width" src="<%= user.data.image_url %>"></img></div>
        <div class="user ten columns">
          <div class="row username"><%= user.username %></div>
          <div class="row"><%= user.location %></div>
        </div>
      </div>
      <div class="streaks row">
        <span class="material-icons">
          event_available
        </span>
        Current Weekly: <%= user.data.streaks.current_weekly %>


        <br>
        <span class="material-icons">
          emoji_events
        </span>
        Best Weekly: <%= user.data.streaks.best_weekly %>

        <br>
        <span class="material-icons">
          directions_bike
        </span>
        Rides: <%= user.data.cycling_workout_count %>
      </div>

      <div class="workouts row">
        <div class="row nav">
          <div class="six columns prev">
            <% if (pagination.data.prev_page){ %>
             <a href="/users/<%= user.username %>?p=<%= pagination.data.prev_page %>">Previous Workouts</a>
            <% } else{ %>
              &nbsp;
            <% }; %>
          </div>


          <div class="six columns next">
            <% if (pagination.data.next_page) { %>
              <a href="/users/<%= user.username %>?p=<%= pagination.data.next_page %>">Next Workouts</a>
            <% } else{ %>
              &nbsp;
            <% }; %>
          </div>
        </div><!-- nav -->


        <% workouts.data.forEach(function(workout){ %>
          <% console.log(workout) %>
          <div class="workout row">
            <div class="two columns instructor">
              <img class="u-full-width" src="<%= workout.instructor.image_url %>"></img>
            </div>
            <div class="five columns ride_info">
              <div class="row name"><%= workout.ride.title %> - <%= workout.instructor.name %></div>
              <div class="row duration">Duration:<%= workout.ride.duration %></div>
              <div class="row difficulty">Difficulty: <%= workout.ride.difficulty_rating_avg %> / <%= workout.ride.difficulty_level %></div>
              <div class="row rating">Rating: <%= workout.ride.overall_rating_avg %></div>
              <div class="row peloton"><a href="https://members.onepeloton.com/classes/cycling?modal=classDetailsModal&classId=<%= workout.ride.id %>" target="_blank">Peloton Link</a></div>
              <div class="row"></div>
              <div class="row"></div>
            </div>
            <div class="five columns performance">
              <div class="row total_output">Total Output: {{total_output}}</div>
              <div class="row avg_cadence">Average Cadence: {{avg_cadence}}</div>
              <div class="row avg_resistance">Average Resistance: {{avg_resistance}}</div>
              <div class="row avg_speed">Average Speed: {{avg_speed}}</div>
            </div>
          </div>
        <% }); %>


        <div class="row nav">
          <div class="six columns prev">
            <% if (pagination.data.prev_page){ %>
             <a href="/users/<%= user.username %>?p=<%= pagination.data.prev_page %>">Previous Workouts</a>
            <% } else { %>
              &nbsp;
            <% }; %>
          </div>


          <div class="six columns next">
            <% if (pagination.data.next_page){ %>
              <a href="/users/<%= user.username %>?p=<%= pagination.data.next_page %>">Next Workouts</a>
            <% } else { %>
              &nbsp;
            <% }; %>
          </div>
        </div><!-- nav -->
      </div><!-- workouts -->
    </div><!-- main -->
  </div><!-- container -->
</body>


<pre class="hide" data-type="user">
  <%= user.debug %>
</pre>
<pre class="hide" data-type="workouts">
  <%= workouts.debug %> 
</pre>
<pre class="hide" data-type="pagination">
  <%= pagination.debug %>
</pre>

<script>
  let debug = document.getElementsByTagName("pre");
  let data = Array.from(debug).reduce((result, item) => {
    let type =item.dataset.type;
    result[type] = JSON.parse(item.innerHTML);
    return result;
  }, {})
</script>
<%- include('partials/_end'); %>
