<%- include('partials/_head'); %>
<body class="preload">
  <div class="container">
    <%- include('partials/_header'); %>


    <div id="main" class="row">
      <h3>Riders</h3>

      <%- include('partials/_pagination', {
        base: `/users`,
        item: "Users",
        prev_page: pagination.data.prev_page,
        next_page: pagination.data.next_page
      }); %>

    <div class="row component users">
      <div class="row tracked">
        <h4>Tracked</h4>
        <% users.data.tracked.forEach(function(group){ %>
          <div class="row">
            <% group.forEach(function(user){ %>
              <div class="three columns user-list">
                <div class="row">
                  <img class="u-full-width profile-list" src="<%= user.image_url %>"></img>
                </div>
                <div class="row">
                  <a href="/users/<%= user.username %>"><%= user.username %></a>
                </div>
              </div><!-- user -->
            <% }); %>
          </div>
        <% }); %>
      </div><!-- tracked -->
      <br><br>
      <hr>

      <div class="row untracked">
        <h4>Untracked</h4>
        <% users.data.untracked.forEach(function(group){ %>
          <div class="row">
            <% group.forEach(function(user){ %>
              <div class="three columns user-list">
                <div class="row">
                  <img class="u-full-width profile-list" src="<%= user.image_url %>"></img>
                </div>
                <div class="row">
                  <a href="/users/<%= user.username %>"><%= user.username %></a>
                </div>
              </div><!-- user -->
            <% }); %>
          </div>
        <% }); %>
      </div><!-- untracked -->
    </div><!-- users -->



    </div><!-- main -->
  </div><!-- container -->
</body>

<%- include('partials/_end'); %>
